* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 50px;
    background-color: aquamarine;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: slategrey;
}

nav a {
    color: whitesmoke;
    padding: 14px 20px;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;    
}

aside{
    flex: 20%;
    background-color: beige;
    padding: 20px;
}

section {
    flex: 80%;
    background-color: khaki;
    padding: 20px;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: brown;
}



@media screen and (max-width: 700px) {
    nav, main {
        flex-direction: column;
    }
}